.container{
    background-color: black;
    width: 500px;
    border-radius: 14px;
    margin: 0 auto;
}

h1{
    color: cornsilk;
    padding: 10px;
    text-align: center;
    font-family: digital-7;
}

#stopwatch{
    color: chartreuse;
    font-size: 5rem;
    font-family: digital-7;
    text-align: center;
}

.buttonContainer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border: none;
    background-color: cornsilk;
    width: 100px;
    height: 30px;
    margin: 10px;
    font-family: digital-7;
    border-radius: 14px;
}